.ponudba-wrapper {
    width: 100%;
    height: auto;
    padding: 3rem;
    background-color: var(--backgroundColor);/* 
    background: linear-gradient(to bottom, black, var(--backgroundColor), white) */
}
.ponudba-wrapper h1 {
    font-size: var(--fontSizePc);
    font-family: var(--fontFamily-main);
    font-weight: 700;
    color: var(--mainColor);
    margin: 2rem 0;
}
@media screen and (max-width: 1000px) {
    .ponudba-wrapper h1{
        font-size: var(--fontSizePhone);
    }
}

.ponudba-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-family: var(--fontFamily-main);
    margin: auto;
}
@media screen and (max-width: 1000px) {
    .ponudba-container{
        flex-direction: column;
    }
}
.ponudba-item {
    width: 30vw;
    height: 25vh;
    border-radius: 5px;
    box-shadow: rgba(255,255,255, 0.25) 0px 3px 8px;
    margin: 1rem auto;
    padding: 3rem 1rem;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .ponudba-item{
        width: 100%;
        height: 100%;
        font-size: 1.3rem;
        padding: 2rem 1rem;
    }
}
.ponudba-item h3 {
    margin-bottom: 1rem;
}
.ponudba-item a{
    text-decoration: none;
    color: var(--backgroundColor);
    cursor: pointer;
}
.ponudba-item a:hover{
    color: var(--mainColor);
}
.ponudba-item button{
    border-radius: 5px;
    background-color: var(--mainColor);
    color: var(--backgroundColor);
    font-family: var(--fontFamily-dm_sans);
    font-size: 1rem;
    font-weight: 800;
    height: 4rem;
    width: 12rem;
    cursor: pointer;
    margin-bottom: 1rem;
    border: none;
}
.ponudba-item button:hover{
    border: 1px solid var(--mainColor);
    border-radius: 5px;
    background-color: var(--backgroundColor);
    color: var(--mainColor);
}

@media screen and (max-width: 1000px) {
    .ponudba-item button{
        height: 3rem;
        width: 9rem;
    }
}

.item-flex {
    display: flex;
    flex-direction: column;
}